{% extends 'base.html.twig' %}

{% block body %}
<body>
    	<!-- header -->
	<header class="banner overlay bg-cover" data-background="images/banner.jpg">
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">


				<div class="collapse navbar-collapse text-center" id="navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{ path('app_front') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{ path('app_back_index') }}">Back Office</a>
						</li>
				</div>
				<ul class="navbar-nav ml-auto">
                        
                            {# maintenant que l'on a l'auth on peut utiliser app.user #}
                            {% if app.user == null %}
                                <a class="btn btn-outline-light" href="{{ path('app_login')}}" id="navbarDropdown" role="button">Connexion</a>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ path('app_logout')}}" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown">
                                        <span>{{ app.user.email }}</span>
                                        <i class="bi bi-person-square"></i>
                                    </a>
                                </li>
                            {% endif %}
                </ul>
			</div>
		</nav>

		<!-- banner -->
			<div class="container section">
				<div class="row">
						<div class="filter_search bar position-relative">
							<input type="search" id="search"  class="form-control" placeholder="Search a car"><i
								class="ti-search search-icon"></i>
						</div>	
				</div>

				<div class="filter-btns">
					<!-- single-btn -->	
					<button class="btn btn-outline-light" type="button" id="SUV">SUV</button>
					<button  class="btn btn-outline-light" type="button" id="Full_Electric">Full Electric</button>
					<button  class="btn btn-outline-light" type="button" id="Sportback">Sportback</button>
					<button  class="btn btn-outline-light" type="button" id="All">All</button>
					</div>
				</div>
			</div>
		<!-- /banner -->
	</header>
	<!-- /header -->

	<!-- topics -->
		<div class="btn-container">
	<section class="section">

			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h2 class="section-title">Find your car</h2>	
				</div>

			<div class="row">		
			<table>
					<thead>
					<tr>
						<th> Brand Car</th>
						<th>Number Seats</th>
						<th>Number Doors</th>
						<th>Cost</th>
						<th>Category</th>
					</tr>
					</thead>
					<tbody id="cars-table">
					</tbody>
			</table>
			<nav aria-label="Page navigation example">
			<ul class="pagination" id="paginationContainer"></ul>
			</nav>
		</div>
</section>

	<!-- /topics -->
{% endblock %}
