{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}
{% block body %}
    <!-- header -->
	<header class="banner overlay bg-cover" data-background="images/banner.jpg">
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">


				<div class="collapse navbar-collapse text-center" id="navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{ path('app_front') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{ path('app_back_index') }}">Back Office</a>
						</li>
				</div>
                <ul class="navbar-nav ml-auto">
                        
                            {# maintenant que l'on a l'auth on peut utiliser app.user #}
                            {% if app.user == null %}
                                <a class="btn btn-success btn-sm" href="{{ path('app_login')}}" id="navbarDropdown" role="button">Connexion</a>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ path('app_logout')}}" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown">
                                        <span>{{ app.user.email }}</span>
                                        <i class="bi bi-person-square"></i>
                                    </a>
                                </li>
                            {% endif %}
                            

                    </ul>
			</div>
		</nav>
	</header>
	<!-- /header -->
	<!-- topics -->
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h2 class="section-title">Find your car</h2>	
				</div>
			<div class="col">
                <table class="table table-dark">
                    <thead>
                            <tr>
                                <th>Name</th>
                                <th>NbreSeats</th>
                                <th>NbreDoors</th>
                                <th>Cost</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                    </thead>
                    <tbody>
            </div>
        {% for car in cars %}
            <tr>
                <td>{{ car.name }}</td>
                <td>{{ car.nbreSeats }}</td>
                <td>{{ car.nbreDoors }}</td>
                <td>{{ car.cost }}€</td>
				<td>{{car.category.name}}</td>
                <td>
                    <a href="{{ path('app_back_new') }}"class="link-secondary bi bi-plus-circle"></a>
                    <a href="{{ path('app_back_show', {'id': car.id}) }}"class="link-secondary bi bi-eye white"></a>
                    <a href="{{ path('app_back_edit', {'id': car.id}) }}"class="link-secondary bi bi-pencil-square"></a>
                    <a href="{{ path('app_back_delete', {'id': car.id}) }}"class="link-secondary bi bi-trash"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
